body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900 \9;
}

div.container a.brand {
    background: url("../images/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

          body {
            padding-top: 60px;
            padding-bottom: 40px;

          }
		  #page {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: #186185;
    background-image: url("../images/gradientblue_img.svg");
    background-origin: padding-box;
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: 100% 100%;
}
.navbar-head {
	background: url("../images/transparent.png") repeat scroll 0 0 transparent;
}
h1, h2, h3, h4, h5, h6, a.button-more, .mod-box.mod-box-color1 .wk-twitter-single:before, .wk-slideshow-subway-list .navigation li {
    font-family: "NewCicleFina";
}
.hero-unit {
	background: url("../images/header-bg.png") repeat scroll 0 0 transparent;
}
#system {position: relative;}
#system .page-title{margin-top:0;font-size:18px;line-height:18px}#system
.title{margin-top:0}
#system .title a{text-decoration:none}
#system .title+.title{margin-top:20px}
#system>.description{margin-bottom:30px;overflow:hidden}
#system small{font-style:italic}
#system .item>header{margin-bottom:15px}
#system .item > header.title{margin-bottom:0}
#system .item > header.meta{margin:10px 0 0 0;font-size:11px;line-height:13px}
#system .item > header .subtitle{margin:0 0 8px 0;font-size:14px;line-height:16px;font-weight:normal;text-transform:uppercase}
#system .item > .content > *:first-child,
#system .item>.content>*[class*="align"]:first-child+*{margin-top:0}
#system .item>.content>*:last-child{margin-bottom:0}
#system .item>.links{margin:22px 0 0 0}
#system .item > .links a{margin-right:15px}
#system .item>.taxonomy{}
#system .item>.trackback{}
#system .item>.edit{}
#system .item>*:last-child{margin-bottom:0}
#system .item .socialbuttons{margin-top:15px}
#system .item .socialbuttons>div{margin-right:10px;float:left}
#system .items{margin:0 -10px 0 -10px}
#system .items .item:first-child { margin-top: 0; }
#system .item>header>time{width:28px;left:-40px;font-family:Arial,Helvetica,sans-serif;color:#fff;display:block;position:absolute}
#system .item>header>time>span{float:right;text-transform:lowercase}
#system .item > header > time .day{font-size:20px;line-height:21px;font-weight:bold}
#system .item > header > time .month{font-size:12px;line-height:13px}
#system .item > header > time .year{font-size:10px;line-height:13px}
.isblog.system-transparent.transparency-25
#system .item, .noblog.system-transparent.transparency-25
#content,
.transparency-25,
#system .item + .links,
.transparency-25, .mod-box-transparent {
    background: url("../images/transparent.png") repeat scroll 0 0 transparent;
}

.system-transparent.isblog,
#system .item, .system-transparent.noblog,
#content {
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}
#system .item {
	background: url("../images/transparent.png") repeat scroll 0 0 transparent;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}
#system .items .item{margin:20px 10px 0 10px; padding: 20px;}
.grid-box{float:left}
.system-transparent #content a:hover, .system-transparent #system .item .title a, .mod-box-transparent a:hover {
    color: #FFFFFF;
}
h1 {
    font-size: 36px;
    line-height: 36px;
	color: #ffffff;
}
h1.title a {
	color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
#system .item + .links {
    height: 35px;
    line-height: 35px;
    margin: 1px 10px 0;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#system .item + .links a {
    background: url("../images/readmore-arrow.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    text-indent: 100px;
    width: 60px;
}
article {
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.system-transparent #content a, .mod-box-transparent a {
    color: rgba(255, 255, 255, 0.6);
}
.widget {
	background: url("../images/transparent.png") repeat scroll 0 0 transparent;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
    border-radius: 5px 5px 5px 5px;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
/*    width: 300px; */
}
.widget h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    text-align: left;
}
.widget ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 5px;
}
.widget ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    clear: left;
    display: block;
    height: 100%;
    line-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 5px 10px;
    text-decoration: none;
/*    width: 290px;*/
}
.widget ul li:last-child {
    border-bottom: none;
}
